<div class="login_page--container">
  <div class="login_page--card-container">
    <div class="login_page--title-container">
      <tm-app-title class="login_page--title-app"></tm-app-title>
    </div>
    <div class="card-container">
      <mat-card class="login_page--card">
        <mat-card-header class="card_header--container">
          <tm-title> Welcome back. Sign into your account </tm-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="formLogin" (submit)="login()">
            <mat-form-field
              appearance="outline"
              class="card_form--input card_form--input-name"
            >
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="user@example.com"
                formControlName="email"
              />
              <mat-icon matSuffix>mail</mat-icon>
              @if (formLogin.get('email')?.hasError('required')) {
              <mat-error>
                {{ APP_MESSAGES.FORM_ERRORS.email_required }}
              </mat-error>
              } @if (formLogin.get('email')?.hasError('email')) {
              <mat-error>
                {{ APP_MESSAGES.FORM_ERRORS.email_input }}
              </mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="card_form--input">
              <mat-label>Password</mat-label>
              <input
                matInput
                [type]="hidePassword() ? 'password' : 'text'"
                formControlName="password"
              />
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="showOrHidePassword($event)"
              >
                <mat-icon>{{
                  hidePassword() ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              @if (formLogin.get('password')?.hasError('required')) {
              <mat-error>
                {{ APP_MESSAGES.FORM_ERRORS.required }}
              </mat-error>
              }
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions class="card_actions--container">
          <button
            mat-flat-button
            class="card_actions--login-button"
            (click)="login()"
            type="submit"
          >
            Login
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="login_page--img">
    <img
      ngSrc="/img/login.png"
      alt="show tow persons with a task manager in the background"
      priority
      width="700"
      height="700"
    />
  </div>
</div>
