<h2 mat-dialog-title>Update Password</h2>
<mat-dialog-content>
  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field>
      <mat-label>Old Password</mat-label>
      <input matInput formControlName="oldPassword" type="password" />
      @if (form.get('oldPassword')?.hasError('required')) {
      <mat-error>
        {{ APP_MESSAGES.FORM_ERRORS.required }}
      </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>New Password</mat-label>
      <input matInput formControlName="password" type="password" />
      @if (form.get('password')?.hasError('required')) {
      <mat-error>
        {{ APP_MESSAGES.FORM_ERRORS.required }}
      </mat-error>
      }@if (form.get('password')?.hasError('minlength')) {
      <mat-error>
        {{ APP_MESSAGES.FORM_ERRORS.min_password_length }}
      </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="confirmPassword" type="password" />
      @if (form.controls['confirmPassword'].hasError('passwordMismatch')) {
      <mat-error>
        {{ APP_MESSAGES.FORM_ERRORS.passwords_mismatch }}
      </mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-flat-button (click)="onSubmit()" cdkFocusInitial>Update</button>
</mat-dialog-actions>
