<h2 mat-dialog-title>Add User</h2>
<mat-dialog-content>
  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      @if (form.get('name')?.hasError('required')) {
      <mat-error>
        {{ APP_MESSAGES.FORM_ERRORS.required }}
      </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      @if (form.get('email')?.hasError('required')) {
      <mat-error>
        {{ APP_MESSAGES.FORM_ERRORS.email_required }}
      </mat-error>
      } @if (form.get('email')?.hasError('email')) {
      <mat-error>
        {{ APP_MESSAGES.FORM_ERRORS.email_input }}
      </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hidePassword() ? 'password' : 'text'"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="showOrHidePassword($event)"
      >
        <mat-icon>{{
          hidePassword() ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      @if (form.get('password')?.hasError('required')) {
      <mat-error>
        {{ APP_MESSAGES.FORM_ERRORS.required }}
      </mat-error>
      }@if (form.get('password')?.hasError('minlength')) {
      <mat-error>
        {{ APP_MESSAGES.FORM_ERRORS.min_password_length }}
      </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        formControlName="confirmPassword"
        [type]="hidePassword() ? 'password' : 'text'"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="showOrHidePassword($event)"
      >
        <mat-icon>{{
          hidePassword() ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      @if (form.controls['confirmPassword'].hasError('passwordMismatch')) {
      <mat-error>
        {{ APP_MESSAGES.FORM_ERRORS.passwords_mismatch }}
      </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Choose an option</mat-label>
      <mat-select formControlName="role">
        @for (role of roles; track role) {
        <mat-option [value]="role">{{ role }}</mat-option>
        }
      </mat-select>
      @if (form.get('role')?.hasError('required')) {
      <mat-error>
        {{ APP_MESSAGES.FORM_ERRORS.required }}
      </mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-flat-button (click)="onSubmit()" cdkFocusInitial>Create</button>
</mat-dialog-actions>
